.wrapper
  .header
    %h1.header__title
      %a.header__title--post1{:href => "http://localhost:3000/"} Les enfants,
      %a.header__title--post1{:href => "http://localhost:3000/"} venez par ici !
    .header__action
      %a.header__title--post2{:href => "/blogs"} EVENT
      %a.header__title--post2{:href => "/blogs"} CALENDAR
  .neck
  .details
    .details__box
      .details__box__images
        = image_tag src="/assets/201509082308178c7.jpg", width:"480", height:"655", class: "picture-show"
      .details__box__content
        %p.details__box__content__page 詳細ページだよ、確認してね！
        .details__box__content__title
          %strong タイトル ：
          = @blog.title
        .details__box__content__time
          %strong Name ：
          %a{:href => user_path, class: "btn-name"}
            = @blog.name
        .details__box__content__time
          %strong 時間 ：
          = @blog.start_time.strftime("%Y-%m-%d %H:%M")
        .details__box__content__message
          %strong 内容 ：
          = @blog.content
        .details__box__content__back
          = link_to '戻る', blogs_path, class: "btn-back"
  .footer