.wrapper
  .header
    %h1.header__title
      %a.header__title--post1{:href => "http://localhost:3000/"} Les enfants,
      %a.header__title--post1{:href => "http://localhost:3000/"} venez par ici !
  .sign-up__form
    %div{:style => "height:30px;", class: "sign-in__form__style"}
      %span#switch_jq.sign-up__form__style__title Welcome to Our Room！!
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      .field
        .field
          = f.text_field :name, autofocus: true, placeholder: "NicName", autocomplete: "name", class: "field__contents", maxlength: "6"
        .field
          = f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "field__contents"
        .field
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, placeholder: "PassWord", autocomplete: "new-password", class: "field__contents"
        .field
          = f.password_field :password_confirmation, placeholder: "Password_Confirmation", autocomplete: "new-password", class: "field__contents"
        .actions
          = f.submit "Next", class: "field__submit"
  
  .box_container
    .images_holder
      .image_div.left
        %img.box_image{:alt => "ドア", :src => "/assets/door.png", class: "field__pictures"}/
      .image_div.right
        %img.box_image{:alt => "ドア", :src => "/assets/door.png"}/
  .footer-registrations
  
