.wrapper
  .header
    %h1.header__title
      %a.header__title--post1{:href => "http://localhost:3000/"} KoRONaDoyo
      %a.header__title--post1{:href => "http://localhost:3000/"} ZeninSyouGO!!
    .header__action
      - if user_signed_in?
        .header__action__one
          %p ユーザー名：
          %span= current_user.name
      - else
        .line__user__one
  .neck__action
    .neck__action__box
      = image_tag src="/assets/vitnvimdinvdnckv.jpg", width:"330", height:"75", class: "neck__action__box--picture"
      = link_to  "投稿する", new_tweet_path, method: :get, class: "neck__action__box--post"
    .neck__action__mypege
      - if user_signed_in?
        = image_tag src="/assets/gettyimages-1655.jpg", width:"330", height:"75", class: "neck__action__mypege--imge"
        = link_to "マイページ", "/users/#{current_user.id}", class: "neck__action__mypege--post1"
      - else
        .line__user__one
  .content
    .content__left
      = image_tag src="", width:"170", height:"930"
    .content__row
      - @tweets.each do |tweet|
        .content_post{:style => "background-image: url(#{tweet.image});"}
          .content_post__box
            %span= image_tag src='/assets/68589768.png', class: "pppp" ,width:"60", height:"60"
            .menu
              .menu-title ▼
              .sub-menu
                %ul
                  %li
                    = link_to '編集する', edit_tweet_path(tweet.id),  method: :get
                  %li
                    = link_to '削除する', tweet_path(tweet.id),  method: :delete
                  %li 
                    = link_to '詳細表示', tweet_path(tweet.id),  method: :get
          %p= tweet.text
          %span.name
            = tweet.name
    .content__right
      = image_tag src="", width:"135", height:"900"
  .neck
  .footer