.wrapper
  .header
    %h1.header__title
      %a.header__title--post1{:href => "http://localhost:3000/"} KoRONaDoyo
      %a.header__title--post1{:href => "http://localhost:3000/"} ZeninSyouGO!!
    .header__action
      %a.header__action--post2{:href => "/tweets/new"} 投稿する
  .neck
  .content
    .content__left
      = image_tag src="", width:"170", height:"930"
    .content__row
      - @tweets.each do |tweet|
        .content_post{:style => "background-image: url(#{tweet.image});"}
          .content_post__box
            %span= image_tag src='/assets/68589768.png', class: "pppp" ,width:"60", height:"60"
            .menu
              .menu-title ▼
              .sub-menu
                %ul
                  %li
                    = link_to '編集する', edit_tweet_path(tweet.id),  method: :get
                  %li
                    = link_to '削除する', tweet_path(tweet.id),  method: :delete
                  %li 
                    = link_to '詳細表示', tweet_path(tweet.id),  method: :get
          %p= tweet.text
          %span.name
            = tweet.name
    .content__right
      = image_tag src="", width:"135", height:"900"
  .neck
  .footer