.wrapper
  .header
    %h1.header__title
      %a.header__title--post1{:href => "http://localhost:3000/"} Les enfants,
      %a.header__title--post1{:href => "http://localhost:3000/"} venez par ici !
    .header__action
      %a.header__title--post2{:href => "/tweets"} Back to post list
  .neck
  .contents.user
    .contents.user__left
      .left-list
        %p.left-list--name
          = @name
          さんの投稿一覧
        - @tweets.each do |tweet|
          .content-boxes
            %a{:href => "/tweets/#{tweet.id}"}
              .contents.picture{:style => "background-image: url(#{tweet.image});"}
            .contents.text
              %p 内容：
              %p= tweet.text
    .contents.user__right
      .right-list
        %p.right-list--name
          = @name
          さんのイベント投稿一覧
        - @blogs.each do |blog|
          .blog-content
            .blog-content__title
              %strong タイトル ：
              = blog.title
            .blog-content__time
              %strong 時間 ：
              = blog.start_time.strftime("%Y-%m-%d %H:%M")
            .blog-content__message
              %strong 内容 ：
              = blog.content
  .footer-user